<h1>Android Doc</h1>
Hello World. 
<p> Welcome to Androind World. I am an Android Doctor.
Android Doc can help you to fix all your Android apps bug instantly. 
You get best value of money for your android examination. Don' get bugged by your
android's bug, get a free quote now and instant medication.<p>
